<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{ server.serverName }}</div>
      <div class="panel-body">
        <p [ngStyle]="getServerStyle()" [ngClass]="{'blueprint': blueprintCkeck(), 'server': serverCkeck()}">
          {{ server.serverContent }}
        </p>

        <p style="color: greenyellow; background-color: snow" *ngIf="onlineCheck()">
          {{server.status}}
        </p>

        <p style="color: red ; background-color: snow" *ngIf="offlineCheck()">
          {{server.status}}
        </p>

        <ng-container
          *ngIf="bootingCheck(); then bootingServer"></ng-container>
        <ng-template #bootingServer>
          <p style="color: darkorange ; background-color: snow">
            {{server.status}}
          </p>
        </ng-template>

        <ng-template #unknown>
          <p style="color: midnightblue ; background-color: snow">
            {{server.status}}
          </p>
        </ng-template>

      </div>
    </div>
  </div>
</div>
